<div class="container">
    <h1>My Patient App</h1>
    <form>
      <div>
        <input type="text" name="fname" #fname placeholder="First Name">
      </div>
      <div>
        <input type="text" name="lname" #lname placeholder="Last Name">
      </div>
      <div>
        <input type="text" name="phone" #phone placeholder="Phone Number">
      </div>
      <div>
        <input type="email" name="email" #email placeholder="Email Address">
      </div>
      <div>
        <input type="date" name="dob" #dob placeholder="dob">
      </div>
      <div>
        <input type="submit" (click) = "savePatient(fname.value,lname.value,phone.value,email.value,dob.value);">
      </div>
    </form>

    <table class="table table-bordered">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>email Address </th>
        <th>DOB </th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let patient of patients">
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.phoneNumber}}</td>
        <td>{{patient.emailAddress}}</td>
        <td>{{patient.dateofBirth}}</td>
        <td><button type="button" name="button" (click)="showDetails(patient)">Edit</button></td>
        <td><button type="button" name="button" (click)="del(patient)">Delete</button></td>

      </tr>
    </table>

    <div *ngIf="selectedPatient">
      <h1>Edit Patient</h1>

      <div>
        <label>Enter Patient firstName:</label>
        <input [(ngModel)]="selectedPatient.firstName">
      </div>
      <div>
        <label>Enter Patient LastName:</label>
        <input [(ngModel)]="selectedPatient.lastName">
      </div>
      <div>
        <label>Enter Patient phoneNumber:</label>
        <input [(ngModel)]="selectedPatient.phoneNumber">
      </div>
      <div>
        <label>Enter Patient emailAddress:</label>
        <input [(ngModel)]="selectedPatient.emailAddress">
      </div>
      <div>
        <label>Enter Patient dateofBirth:</label>
        <input [(ngModel)]="selectedPatient.dateofBirth">
      </div>
      <div>
        <button (click)="finishedEditing()">Done</button>
      </div>
    </div>
  </div>
